[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
ipython = "*"
ipdb = "*"
pygments = "*"
pandas = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
